<div *ngIf = "display">
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="index.html" class="navbar__logo">YourAcademy</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">YourAcademy - A place for all your academic needs.</h1>
						<p class="hero__text">Don’t Let fear of Covid-19 to stop you....Lead your way, dream and conquer.
              Continue to Study at your home with YourAcademy, at your own convenience and safely.
              We partner with best teachers for quality education and believes in best methods to impart knowledge.
          </p>
		                 <a (click)="login()" class="button button__accent" >Login</a>

						<a (click)="register()" class="button hero__button" >Register Now</a>

						<a (click)="timetable()" class="button hero__button" >Time Table</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div class="steps landing__section">
		<div class="container">
			<h2>Who can use YourAcademy?</h2>
			<p>Here's who we can think of, but surely creative people will surprise us.</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="assets/images/undraw_design.svg" class="step__image">
					</div>
					<h4>Students</h4>
					<p class="step__text">A online learning platform for all students for all subjects of all grades. Study, Colloborate and Take assesments easily over digital platform.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="assets/images/undraw_creation.svg" class="step__image">
					</div>
					<h4>Teachers</h4>
					<p class="step__text">A platform to interact with students in through teachME - our platform to provide speedy, uninteruppted and secure LIVE classes.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="assets/images/undraw_responsive.svg" class="step__image">
					</div>
					<h4>Parents</h4>
					<p class="step__text">parentCON - A great solution to take care of your children academic needs and track their performance.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="assets/images/undraw_browser.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">teachMe - LIVE Classes</h2>
					<p class="expanded__text">YourAcademy brings you teachME - our platform to provide fast, uninteruppted and secure LIVE Classes. Not only you can record sessions, but also convert your recordings to text.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="assets/images/undraw_frameworks.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Take assesments, Analyze and Improve</h2>
					<p class="expanded__text">YourAcademy provides online platform to host and take assesments. It enables you to view results in form of dashboard providing useful metrics. Not only you can work on grey areas but also get help through the Discussion Forums in YourAcademy.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="assets/images/together.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">YADI - Your 24 X 7 Buddy.</h2>
					<p class="expanded__text">YADI - Our in-house intelligent chatbot which answers all your questions, anytime and anywhere...!</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Get started now</h2>
				<p class="cta__sub cta__sub--center">Grab the production version and begin your project instantly.</p>
				<a href="#" class="button button__accent">Download YourAcademy</a>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
		  <div class="footer__inner">
			<a href="index.html" class="footer__textLogo">YourAcademy</a>
			<div class="footer__data">
			  <div class="footer__data__item">
				<div class="footer__row">
				  Created by <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">CodingWhizs</a>
				</div>
				<div class="footer__row">
				Code/design by <a href="https://twitter.com/anges244" target="_blank" class="footer__link">CodingWhizs</a>
				</div>
			  </div>
			  <div class="footer__data__item">
				<div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link">YourAcademy</a>
				</div>
			  </div>
			  <div class="footer__data__item">
			  <div class="footer__row">
				<a href="https://github.com/anges244/evie" target="_blank" class="footer__link">GitHub</a>
			  </div>
			  <div class="footer__row">
				<a href="https://twitter.com/undraw_co" target="_blank" class="footer__link">Twitter</a>
			  </div>
			  <div class="footer__row">
				<a href="https://www.facebook.com/undraw.co/" target="_blank" class="footer__link">Facebook</a>
			  </div>
			  <div class="footer__row">
				<a href="./additional.html" class="footer__link">MIT license</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  </div>
	</div>